In [72]:
#Import all the needed libraries
import os
import numpy as np
import pandas as pd
import warnings
import re
from sklearn.preprocessing import MultiLabelBinarizer, StandardScaler

warnings.filterwarnings("ignore")

In [2]:
#Check the current working directory
os.getcwd()

'C:\\Users\\Имя'

In [3]:
# Define all the helping functions
####################################################
# Import packages
####################################################
import numpy as np
import copy
import pandas as pd
from plotnine import *


####################################################
# Define global vars
####################################################
color = ["#3a5e8cFF", "#10a53dFF", "#541352FF", "#ffcf20FF", "#2f9aa0FF"]


####################################################
# Define helper functions
####################################################
def seq(start, stop, by, round_n=3):
    return [round(x, round_n) for x in list(np.arange(start, stop, by))]


def skew(l, round_n=3):
    return round((np.mean(l) - np.median(l)) / np.std(l), round_n)


def lspline(series, knots):
    def knot_ceil(vector, knot):
        vector_copy = copy.deepcopy(vector)
        vector_copy[vector_copy > knot] = knot
        return vector_copy

    if type(knots) != list:
        knots = [knots]
    design_matrix = None
    vector = series.values

    for i in range(len(knots)):
        # print(i)
        # print(vector)
        if i == 0:
            column = knot_ceil(vector, knots[i])
        else:
            column = knot_ceil(vector, knots[i] - knots[i - 1])
        # print(column)
        if i == 0:
            design_matrix = column
        else:
            design_matrix = np.column_stack((design_matrix, column))
        # print(design_matrix)
        vector = vector - column
    design_matrix = np.column_stack((design_matrix, vector))
    # print(design_matrix)
    return design_matrix

def create_calibration_plot(
    data,
    file_name,
    prob_var,
    actual_var,
    y_lab="Actual event probability",
    n_bins=10,
    breaks=None,
):
    if breaks is None:
        breaks = np.around(
            np.linspace(0, (n_bins + 1) / 10, num=n_bins + 1, endpoint=False),
            decimals=1,
        ).tolist()

    data["prob_bin"] = pd.cut(data[prob_var], breaks, right=True, include_lowest=True)

    binned_data = (
        data.groupby("prob_bin")
        .agg(
            mean_prob=(prob_var, "mean"),
            mean_actual=(actual_var, "mean"),
            n=(actual_var, "size"),
        )
        .reset_index()
    )

    plot = (
        ggplot(binned_data, aes("mean_prob", "mean_actual"))
        + geom_line(color=color[0], size=1, show_legend=True)
        + geom_point(
            color=color[0],
            size=1,
            alpha=0.7,
            show_legend=False,
            na_rm=True,
        )
        + geom_segment(
            x=min(breaks),
            xend=max(breaks),
            y=min(breaks),
            yend=max(breaks),
            color=color[1],
            size=0.5,
        )
        + theme_bw()
        + labs(x="Predicted event probability", y=y_lab)
        + coord_cartesian(xlim=(0, 1), ylim=(0, 1))
        + expand_limits(x=0.01, y=0.01)
        + scale_y_continuous(expand=(0.01, 0.01), breaks=(seq(0, 1.1, 0.1)))
        + scale_x_continuous(expand=(0.01, 0.01), breaks=(seq(0, 1.1, 0.1)))
    )

    return plot


def poly(x, degree=1):
    """
    Fit Polynomial
    These are non orthogonal factors, but it may not matter if
    we only need this for predictions (without interpreting the
    coefficients) or visualisation.
    """
    d = {}
    for i in range(degree+1):
        if i == 1:
            d['x'] = x
        else:
            d[f'x**{i}'] = np.power(x, i)
    return pd.DataFrame(d)

# Part I - Data cleaning and loading

For my project I use data set for Airbnb listings for San Diego available from Inside Airbnb website. Initial dataset has 9673 observations and is collected for the data 25th of September 2021.

In [4]:
#First I just import the raw data
data = pd.read_csv('listings.csv', delimiter = ',',dtype ='unicode')

In [5]:
#Checking what I imorted
data.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,5570,https://www.airbnb.com/rooms/5570,20210925150545,2021-09-25,Ocean front condo on the sand,Missionbeachretreat. Great Ocean Front Condo...,While some may compare San Diego’s Mission Bea...,https://a0.muscache.com/pictures/d3342744-140a...,8435,https://www.airbnb.com/users/show/8435,...,NaN,NaN,NaN,NaN,f,3,3,0,0,NaN
1,29967,https://www.airbnb.com/rooms/29967,20210925150545,2021-09-26,"Great home, 10 min walk to Beach","This 2 bedroom, 2 full bathroom home offers al...",NaN,https://a0.muscache.com/pictures/76103867/c9b5...,129123,https://www.airbnb.com/users/show/129123,...,4.93,4.83,4.83,NaN,f,5,5,0,0,0.52
2,38245,https://www.airbnb.com/rooms/38245,20210925150545,2021-09-26,Point Loma: Den downstairs,Stay in a 1928 Spanish Style home. Den is dow...,"This neighborhood is an expensive, high-end Po...",https://a0.muscache.com/pictures/f3073822-e493...,164137,https://www.airbnb.com/users/show/164137,...,4.79,4.61,4.4,NaN,f,3,0,3,0,1.46
3,39516,https://www.airbnb.com/rooms/39516,20210925150545,2021-09-26,Art Studio Retreat/Rustic Cabin,We love having explorers from all over the wor...,"We love our eclectic neighborhood, with a smal...",https://a0.muscache.com/pictures/2ee5c482-c48f...,169649,https://www.airbnb.com/users/show/169649,...,4.96,4.9,4.94,NaN,f,1,1,0,0,3.38
4,54001,https://www.airbnb.com/rooms/54001,20210925150545,2021-09-26,"La Jolla Cottage Blocks to Ocn; 2Bdms, 1Bth.","Separate charming cottage behind main home, 2 ...","Tranquility, stately trees, meditative, zen-fu...",https://a0.muscache.com/pictures/47035b04-633c...,252692,https://www.airbnb.com/users/show/252692,...,4.97,4.97,4.88,NaN,f,2,1,1,0,5.47

# Getting rid from not needed columns

In [6]:
#Look at all columns names
for col in data:
    print(col)

id
listing_url
scrape_id
last_scraped
name
description
neighborhood_overview
picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
latitude
longitude
property_type
room_type
accommodates
bathrooms
bathrooms_text
bedrooms
beds
amenities
price
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
number_of_reviews_l30d
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
license
instant_bookable
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month

In [7]:
# First define columns which aren't needed just logically
drops = [
    'listing_url',
    'name', #no information I could use witout text analysis
    'host_location', #I already know I look at San Diego
    'scrape_id',
    'last_scraped',
    'description',
    'neighborhood_overview',
    'picture_url',
    'host_url',
    'host_name',
    'host_about',
    'host_thumbnail_url',
    'host_picture_url',
    'neighbourhood_group_cleansed',
    'bathrooms', #empty
    'minimum_minimum_nights',
    'maximum_minimum_nights', 
    'minimum_maximum_nights',
    'maximum_maximum_nights',
    'minimum_nights_avg_ntm',
    'maximum_nights_avg_ntm',
    'calendar_updated',
    'calendar_last_scraped', 
    'license'   
]
data.drop(columns = drops, inplace = True) #drop all not needed columns

In [8]:
#look how it looks now
data.head()

,id,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,5570,8435,2009-02-23,NaN,NaN,100%,f,Mission Beach,3,3,...,NaN,NaN,NaN,NaN,f,3,3,0,0,NaN
1,29967,129123,2010-05-21,within a few hours,100%,63%,f,Pacific Beach,6,6,...,4.95,4.93,4.83,4.83,f,5,5,0,0,0.52
2,38245,164137,2010-07-12,within an hour,100%,50%,f,Loma Portal,3,3,...,4.71,4.79,4.61,4.4,f,3,0,3,0,1.46
3,39516,169649,2010-07-17,NaN,NaN,NaN,t,North Park,1,1,...,4.97,4.96,4.9,4.94,f,1,1,0,0,3.38
4,54001,252692,2010-10-04,within a few hours,100%,84%,t,La Jolla,5,5,...,4.96,4.97,4.97,4.88,f,2,1,1,0,5.47

In [9]:
[col for col in data.columns if data[col].isnull().any()] # Look at the columns which have NAs

['host_since',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'reviews_per_month']

In [10]:
#Function to define table with missing values
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

In [11]:
missing_zero_values_table(data) #print table with missing values

Your selected dataframe has 50 columns and 9672 Rows.
There are 24 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
neighbourhood,0,2787,28.8,2787,28.8,object
review_scores_value,0,1249,12.9,1249,12.9,object
review_scores_location,0,1249,12.9,1249,12.9,object
review_scores_checkin,0,1249,12.9,1249,12.9,object
review_scores_communication,0,1247,12.9,1247,12.9,object
review_scores_cleanliness,0,1247,12.9,1247,12.9,object
review_scores_accuracy,0,1247,12.9,1247,12.9,object
reviews_per_month,0,1218,12.6,1218,12.6,object
first_review,0,1218,12.6,1218,12.6,object
review_scores_rating,0,1218,12.6,1218,12.6,object
last_review,0,1218,12.6,1218,12.6,object
host_response_rate,0,1180,12.2,1180,12.2,object
host_response_time,0,1180,12.2,1180,12.2,object
host_acceptance_rate,0,1069,11.1,1069,11.1,object
bedrooms,0,986,10.2,986,10.2,object
host_neighbourhood,0,847,8.8,847,8.8,object
host_identity_verified,0,91,0.9,91,0.9,object
host_has_profile_pic,0,91,0.9,91,0.9,object
host_total_listings_count,0,91,0.9,91,0.9,object
host_listings_count,0,91,0.9,91,0.9,object
host_is_superhost,0,91,0.9,91,0.9,object
host_since,0,91,0.9,91,0.9,object
beds,0,73,0.8,73,0.8,object
bathrooms_text,0,5,0.1,5,0.1,object

I can see that neigbourhood has a lot of missing data (almost 1/3 of the observations). Looking more carefully into the data I can see that neighourhood information is much better depicted in neighourborhood cleansed (and it has no missing values). Thus, I drop variable neigbourhood. Host neighorborhood sometimes also has missing values. In general it looks very similaer to neighbourhood cleansed, but with more missing values for reason I couldn't identify. I decided to only keep neighborhood cleansed.

In [12]:
data.drop(columns = ['neighbourhood', 'host_neighbourhood'], inplace=True )

In [13]:
data.head()

,id,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,5570,8435,2009-02-23,NaN,NaN,100%,f,3,3,"['email', 'phone', 'kba']",...,NaN,NaN,NaN,NaN,f,3,3,0,0,NaN
1,29967,129123,2010-05-21,within a few hours,100%,63%,f,6,6,"['email', 'phone', 'reviews', 'kba', 'work_ema...",...,4.95,4.93,4.83,4.83,f,5,5,0,0,0.52
2,38245,164137,2010-07-12,within an hour,100%,50%,f,3,3,"['email', 'phone', 'reviews', 'kba']",...,4.71,4.79,4.61,4.4,f,3,0,3,0,1.46
3,39516,169649,2010-07-17,NaN,NaN,NaN,t,1,1,"['email', 'phone', 'reviews', 'jumio', 'offlin...",...,4.97,4.96,4.9,4.94,f,1,1,0,0,3.38
4,54001,252692,2010-10-04,within a few hours,100%,84%,t,5,5,"['email', 'phone', 'reviews', 'kba']",...,4.96,4.97,4.97,4.88,f,2,1,1,0,5.47

In [14]:
#Save this data after first cleaning and don't touch it
data.to_csv('airbnb_sd_listings.csv', index='False')

In [15]:
#Open data set
df = pd.read_csv('airbnb_sd_listings.csv', delimiter = ',')

In [16]:
df.head() #check how it looks

,Unnamed: 0,id,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,5570,8435,2009-02-23,NaN,NaN,100%,f,3.0,3.0,...,NaN,NaN,NaN,NaN,f,3,3,0,0,NaN
1,1,29967,129123,2010-05-21,within a few hours,100%,63%,f,6.0,6.0,...,4.95,4.93,4.83,4.83,f,5,5,0,0,0.52
2,2,38245,164137,2010-07-12,within an hour,100%,50%,f,3.0,3.0,...,4.71,4.79,4.61,4.40,f,3,0,3,0,1.46
3,3,39516,169649,2010-07-17,NaN,NaN,NaN,t,1.0,1.0,...,4.97,4.96,4.90,4.94,f,1,1,0,0,3.38
4,4,54001,252692,2010-10-04,within a few hours,100%,84%,t,5.0,5.0,...,4.96,4.97,4.97,4.88,f,2,1,1,0,5.47

# Check duplicate values

In [17]:
df.shape #store df as a number of rows and columns

(9672, 49)

In [18]:
df = df.drop_duplicates()

In [19]:
df.shape #check rows and columns again - great there was no duplicates

(9672, 49)

# Separate data types

In [20]:
#First, drop id-s which are not characteristic of number - "broken lines"
df.id = pd.to_numeric(df.id, errors = 'coerce') #coerce means that it will try to find numbers which are not definied as numbers and replace this with number

In [21]:
df.shape #nothing was a problem

(9672, 49)

In [22]:
df = df[df.id.notna()] #leave only those without missing values

In [23]:
df.shape

(9672, 49)

In [24]:
# I checked the fact of missing values but that I knew from before that for id there is no missing values

Now I will check data types. There can be the following types I should think about

Numerical (Continuous/Discrete)

Categorical (Binary/Ordinal/Nominal)

Mixed Type

Time

In [25]:
# First categorical variables
cat_df = df.select_dtypes(include=['object', 'bool'])
cat_cols = df.select_dtypes(include=['object', 'bool']).columns.values

In [26]:
cat_cols # look which one are categorical

array(['host_since', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'property_type', 'room_type',
       'bathrooms_text', 'amenities', 'price', 'has_availability',
       'first_review', 'last_review', 'instant_bookable'], dtype=object)

In [27]:
df.shape

(9672, 49)

In [28]:
#Now numerical variables
num_df = df.select_dtypes(include=['int', 'int64','float'])
num_cols = df.select_dtypes(include=['int', 'int64','float']).columns.values

In [29]:
num_cols #which once are numerical

array(['Unnamed: 0', 'id', 'host_id', 'host_listings_count',
       'host_total_listings_count', 'latitude', 'longitude',
       'accommodates', 'bedrooms', 'beds', 'minimum_nights',
       'maximum_nights', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype=object)

In [30]:
# Not forget to check that all features are accounted for
len(num_cols) + len(cat_cols) == df.shape[1] # After debugging and adding int64 everything works

True

In [31]:
#Let's look at numerical variables
num_df.head().transpose() # Looks okay, there are missing values but with them I will deal later

,0,1,2,3,4
Unnamed: 0,0.00000,1.00000,2.00000,3.00000,4.00000
id,5570.00000,29967.00000,38245.00000,39516.00000,54001.00000
host_id,8435.00000,129123.00000,164137.00000,169649.00000,252692.00000
host_listings_count,3.00000,6.00000,3.00000,1.00000,5.00000
host_total_listings_count,3.00000,6.00000,3.00000,1.00000,5.00000
latitude,32.78481,32.80751,32.74217,32.73004,32.81301
longitude,-117.25313,-117.25760,-117.21931,-117.11932,-117.26856
accommodates,6.00000,8.00000,1.00000,2.00000,4.00000
bedrooms,2.00000,2.00000,1.00000,1.00000,2.00000
beds,4.00000,3.00000,1.00000,1.00000,3.00000
minimum_nights,3.00000,4.00000,1.00000,3.00000,4.00000
maximum_nights,365.00000,365.00000,21.00000,7.00000,60.00000
availability_30,0.00000,0.00000,8.00000,0.00000,1.00000
availability_60,15.00000,0.00000,31.00000,0.00000,13.00000
availability_90,29.00000,5.00000,61.00000,0.00000,39.00000
availability_365,201.00000,193.00000,336.00000,268.00000,59.00000
number_of_reviews,0.00000,71.00000,146.00000,400.00000,272.00000
number_of_reviews_ltm,0.00000,10.00000,3.00000,0.00000,43.00000
number_of_reviews_l30d,0.00000,0.00000,0.00000,0.00000,2.00000
review_scores_rating,NaN,4.85000,4.32000,4.89000,4.94000
review_scores_accuracy,NaN,4.85000,4.35000,4.92000,4.92000
review_scores_cleanliness,NaN,4.69000,4.21000,4.89000,4.95000
review_scores_checkin,NaN,4.95000,4.71000,4.97000,4.96000
review_scores_communication,NaN,4.93000,4.79000,4.96000,4.97000
review_scores_location,NaN,4.83000,4.61000,4.90000,4.97000
review_scores_value,NaN,4.83000,4.40000,4.94000,4.88000
calculated_host_listings_count,3.00000,5.00000,3.00000,1.00000,2.00000
calculated_host_listings_count_entire_homes,3.00000,5.00000,0.00000,1.00000,1.00000
calculated_host_listings_count_private_rooms,0.00000,0.00000,3.00000,0.00000,1.00000
calculated_host_listings_count_shared_rooms,0.00000,0.00000,0.00000,0.00000,0.00000
reviews_per_month,NaN,0.52000,1.46000,3.38000,5.47000

In [32]:
# Let's look at categorical variables
cat_df.head().transpose()

,0,1,2,3,4
host_since,2009-02-23,2010-05-21,2010-07-12,2010-07-17,2010-10-04
host_response_time,NaN,within a few hours,within an hour,NaN,within a few hours
host_response_rate,NaN,100%,100%,NaN,100%
host_acceptance_rate,100%,63%,50%,NaN,84%
host_is_superhost,f,f,f,t,t
host_verifications,"['email', 'phone', 'kba']","['email', 'phone', 'reviews', 'kba', 'work_ema...","['email', 'phone', 'reviews', 'kba']","['email', 'phone', 'reviews', 'jumio', 'offlin...","['email', 'phone', 'reviews', 'kba']"
host_has_profile_pic,t,t,t,t,t
host_identity_verified,t,t,t,t,t
neighbourhood_cleansed,Mission Bay,Pacific Beach,Roseville,North Hills,La Jolla
property_type,Entire condominium (condo),Entire bungalow,Private room in residential home,Tiny house,Entire residential home
room_type,Entire home/apt,Entire home/apt,Private room,Entire home/apt,Entire home/apt
bathrooms_text,1 bath,2 baths,1 shared bath,1 bath,1 bath
amenities,"[""Refrigerator"", ""Stove"", ""Dishes and silverwa...","[""Shampoo"", ""First aid kit"", ""Patio or balcony...","[""Shampoo"", ""Dishes and silverware"", ""First ai...","[""Shampoo"", ""Refrigerator"", ""Dishes and silver...","[""Shampoo"", ""Dishes and silverware"", ""Kirkland..."
price,"$2,050.00",$225.00,$74.00,$74.00,$258.00
has_availability,t,t,t,t,t
first_review,NaN,2010-07-29,2013-07-07,2012-01-07,2017-08-28
last_review,NaN,2021-08-09,2021-08-15,2020-03-16,2021-09-20
instant_bookable,f,f,f,f,f

Categorical variables don't look that good. There are the following problems:

1) There are time variables

2) I want to create dummies for binary categorical variables ( for ex, with f, t)

3) I want to separate price in numerical variable deleting the dollar sign

4) I want to make percentages a numerical variables in percentage points

5) I want to delete word bath in bathrooms to get the number of bathrooms

6) I want to do smth with variables containing multiple variables (for ex, host verifications and amenities)

# Tranforming and cleaning categorical variables

Time variables

In [33]:
# First, I want to create a reference for the 'time since'. For this, I create variable today
# Today refers to 25th of September 2021 for which the data from San Diego is scraped
today = pd.to_datetime('2021-09-25')

In [34]:
time_var = ['host_since','first_review', 'last_review'] #putting together all time variables

In [35]:
for col in time_var: #transfering this columns to date time in data frame
    df[col] = pd.to_datetime(df[col], infer_datetime_format=True)

In [36]:
df.host_since.describe()

count                    9581
unique                   2489
top       2016-08-05 00:00:00
freq                      202
first     2009-02-23 00:00:00
last      2021-09-22 00:00:00
Name: host_since, dtype: object

In [37]:
# Creating date features for each of the time var columns
for col in time_var:
    df[col+"_days"] = (today - df[col]).apply(lambda x: x.days)

In [38]:
df.head() #look what I got - looks like what is needed

,Unnamed: 0,id,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_since_days,first_review_days,last_review_days
0,0,5570,8435,2009-02-23,NaN,NaN,100%,f,3.0,3.0,...,NaN,f,3,3,0,0,NaN,4597.0,NaN,NaN
1,1,29967,129123,2010-05-21,within a few hours,100%,63%,f,6.0,6.0,...,4.83,f,5,5,0,0,0.52,4145.0,4076.0,47.0
2,2,38245,164137,2010-07-12,within an hour,100%,50%,f,3.0,3.0,...,4.40,f,3,0,3,0,1.46,4093.0,3002.0,41.0
3,3,39516,169649,2010-07-17,NaN,NaN,NaN,t,1.0,1.0,...,4.94,f,1,1,0,0,3.38,4088.0,3549.0,558.0
4,4,54001,252692,2010-10-04,within a few hours,100%,84%,t,5.0,5.0,...,4.88,f,2,1,1,0,5.47,4009.0,1489.0,5.0

In [39]:
df.head()

,Unnamed: 0,id,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_since_days,first_review_days,last_review_days
0,0,5570,8435,2009-02-23,NaN,NaN,100%,f,3.0,3.0,...,NaN,f,3,3,0,0,NaN,4597.0,NaN,NaN
1,1,29967,129123,2010-05-21,within a few hours,100%,63%,f,6.0,6.0,...,4.83,f,5,5,0,0,0.52,4145.0,4076.0,47.0
2,2,38245,164137,2010-07-12,within an hour,100%,50%,f,3.0,3.0,...,4.40,f,3,0,3,0,1.46,4093.0,3002.0,41.0
3,3,39516,169649,2010-07-17,NaN,NaN,NaN,t,1.0,1.0,...,4.94,f,1,1,0,0,3.38,4088.0,3549.0,558.0
4,4,54001,252692,2010-10-04,within a few hours,100%,84%,t,5.0,5.0,...,4.88,f,2,1,1,0,5.47,4009.0,1489.0,5.0

In [40]:
# Now time var colums can be dropped from initial data set
df.drop(columns = time_var, inplace=True)

In [41]:
df.head() #check number of columns now - good

,Unnamed: 0,id,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,...,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_since_days,first_review_days,last_review_days
0,0,5570,8435,NaN,NaN,100%,f,3.0,3.0,"['email', 'phone', 'kba']",...,NaN,f,3,3,0,0,NaN,4597.0,NaN,NaN
1,1,29967,129123,within a few hours,100%,63%,f,6.0,6.0,"['email', 'phone', 'reviews', 'kba', 'work_ema...",...,4.83,f,5,5,0,0,0.52,4145.0,4076.0,47.0
2,2,38245,164137,within an hour,100%,50%,f,3.0,3.0,"['email', 'phone', 'reviews', 'kba']",...,4.40,f,3,0,3,0,1.46,4093.0,3002.0,41.0
3,3,39516,169649,NaN,NaN,NaN,t,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",...,4.94,f,1,1,0,0,3.38,4088.0,3549.0,558.0
4,4,54001,252692,within a few hours,100%,84%,t,5.0,5.0,"['email', 'phone', 'reviews', 'kba']",...,4.88,f,2,1,1,0,5.47,4009.0,1489.0,5.0

Creating dummy variables for binary categorical variables

In [42]:
# I have 5 columns with f,t for which I want to have 0, 1
bi_col = ['host_is_superhost','host_has_profile_pic','host_identity_verified','has_availability','instant_bookable']

In [43]:
# Now transform df in needed way
for col in bi_col:
    df[col] = df[col].map({'f':0, 't':1})

In [44]:
# let's see
df.instant_bookable.head(20) #looks good

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    1
13    1
14    1
15    0
16    0
17    0
18    0
19    1
Name: instant_bookable, dtype: int64

Price and percentage variables transformation

Here the problem was that numbers with ',' (for example, 2020,564) weren't recongised as numeric and were transfered as NA

In [45]:
df.price = df.price.str.replace("\\$", "").str.replace(',', '') #replace dollar sign and account for the fact that numbers can 
    #be higher than in London data and have ","

In [46]:
df.price.head(100)

0     2050.00
1      225.00
2       74.00
3       74.00
4      258.00
       ...
95     700.00
96      61.00
97      62.00
98     128.00
99    1324.00
Name: price, Length: 100, dtype: object

Making percentage a numerical variable

In [47]:
df.host_response_rate.head()

0     NaN
1    100%
2    100%
3     NaN
4    100%
Name: host_response_rate, dtype: object

In [48]:
def repl(m): return m.group(1)


df['host_response_rate'] = df['host_response_rate'].str.replace(
   r'(\d+)%', repl).astype(float)

In [49]:
df.host_response_rate.head() #done

0      NaN
1    100.0
2    100.0
3      NaN
4    100.0
Name: host_response_rate, dtype: float64

Getting number of bathes

In [50]:
#Firstly, in the data there is one strange observation with 27.5 baths for apartment with 2 bedrooms - drop it
df.shape #check how df looks

(9672, 49)

In [51]:
df = df[df.bathrooms_text != '27.5 baths'] # get df without these 27.5 baths

In [52]:
df.shape #great I got what I wanted

(9671, 49)

In [53]:
# I have depicted some baths decoded as as Half bath, private half bath and shared half bath
# I want to replace it
df['bathrooms_text'] = np.where(df['bathrooms_text'] == 'Half-bath', 0.5, df['bathrooms_text'])
df['bathrooms_text'] = np.where(df['bathrooms_text'] == 'Shared half-bath', 0.5, df['bathrooms_text'])
df['bathrooms_text'] = np.where(df['bathrooms_text'] == 'Private half-bath', 0.5, df['bathrooms_text'])

In [54]:
df['bathrooms_text'].describe()

count       9666
unique        36
top       1 bath
freq        4465
Name: bathrooms_text, dtype: object

In [55]:
# Let's look at this colum now
df['bathrooms_text'].head(20)

0             1 bath
1            2 baths
2      1 shared bath
3             1 bath
4             1 bath
5             1 bath
6             1 bath
7             1 bath
8     1 private bath
9     1 private bath
10    1 private bath
11    1 private bath
12            1 bath
13         2.5 baths
14           2 baths
15            1 bath
16            1 bath
17     1 shared bath
18    2 shared baths
19            1 bath
Name: bathrooms_text, dtype: object

In [56]:
df['bathrooms_text'] = df['bathrooms_text'].astype(str) #convert everything in bathroom column to string

In [57]:
# Let's use regex to find the number of baths in the text and add what we found to a list
a = []
for just in df['bathrooms_text']:
    a.append(re.findall(r"(?<![a-zA-Z])[-+]?\d*\.?\d+", just))

Description of the regex function

(?<![a-zA-Z]) - a negative lookbehind that makes sure there is no ASCII letter before the current location

[-+]? - an optional + or -

\d* - zero or more digits

\.? - an optional dot

\d+ - 1+ digits

In [58]:
#look at this list
a

[['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2.5'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['3'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['4'],
 ['1'],
 ['3.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['0.5'],
 ['1'],
 ['3'],
 ['1'],
 ['4'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['3'],
 ['1'],
 ['2.5'],
 ['3'],
 ['1'],
 ['2'],
 ['1'],
 ['4'],
 ['1'],
 ['1'],
 ['2'],
 ['2'],
 ['0.5'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['0.5'],
 ['1'],
 ['1'],
 ['5.5'],
 ['2'],
 ['2'],
 ['1'],
 ['3'],
 ['2'],
 ['3'],
 ['1'],
 ['1'],
 [],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['2.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['3'],
 ['1'],
 ['5.5'],
 ['2.5'],
 ['1'],
 ['2'],
 ['2.5'],
 ['1'],
 ['1'],
 ['2'],
 ['3'],
 ['1'],
 ['2.5'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['4'],
 ['4'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1.5'],
 ['4.5'],
 ['1.5'],
 ['2'],
 ['2'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1.5'],
 ['1'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['2.5'],
 ['4.5'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1.5'],
 ['2.5'],
 ['1.5'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['3'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['3'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['3'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['2'],
 ['2'],
 ['1'],
 ['4.5'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['4'],
 ['2'],
 ['2'],
 ['3'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['3'],
 ['2'],
 ['2'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['3'],
 ['2.5'],
 ['3'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['1.5'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['3'],
 ['2'],
 ['1'],
 ['3'],
 ['2'],
 ['2.5'],
 ['3'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['3'],
 ['1'],
 ['2'],
 ['3.5'],
 ['2.5'],
 ['1'],
 ['2'],
 ['3'],
 ['2'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['2.5'],
 ['3'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['3'],
 ['3.5'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['2'],
 ['1.5'],
 ['2'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['3.5'],
 ['2'],
 ['1'],
 ['3'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['5.5'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['2.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['3'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['3'],
 ['1'],
 ['1.5'],
 ['1'],
 ['2'],
 ['3.5'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['4.5'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['3'],
 ['8'],
 ['3'],
 ['0'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['2'],
 ['2.5'],
 ['1'],
 ['2.5'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['2.5'],
 ['1.5'],
 ['1'],
 ['1'],
 ['2'],
 ['4'],
 ['2'],
 ['1.5'],
 ['1'],
 ['2'],
 ['3'],
 ['1.5'],
 ['1'],
 ['1'],
 ['3'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['3'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1.5'],
 ['2'],
 ['1'],
 ['1'],
 ['3'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['3'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['3'],
 ['1.5'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['2.5'],
 ['2'],
 ['2'],
 ['3'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['4'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['4'],
 ['1'],
 ['1'],
 ['1'],
 ['0'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['0'],
 ['0'],
 ['3'],
 ['2.5'],
 ['2'],
 ['1'],
 ['2.5'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['4'],
 ['1'],
 ['1.5'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['2'],
 ['2'],
 ['2'],
 ['2'],
 ['3'],
 ['3'],
 ['2'],
 ['2'],
 ['2'],
 ['1'],
 ['3'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['0.5'],
 ['2'],
 ['3'],
 ['3'],
 ['2'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['2'],
 ['4.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['4.5'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['2'],
 ['4'],
 ['2'],
 ['1'],
 ['1.5'],
 ['2.5'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['3'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2.5'],
 ['1'],
 ['4'],
 ['1'],
 ['3'],
 ['1'],
 ['1'],
 ['3'],
 ['1'],
 ['1'],
 ['2'],
 ['3'],
 ['1'],
 ['2.5'],
 ['1'],
 ['3'],
 ['1'],
 ['4'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['3'],
 ['1'],
 ['2.5'],
 ['6.5'],
 ['1'],
 ['2'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['3'],
 ['1'],
 ['2'],
 ['1'],
 ['2.5'],
 ['2.5'],
 ['1'],
 ['4'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['2'],
 ['1'],
 ['2'],
 ['2'],
 ['0'],
 ['2'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['3'],
 ['1'],
 ['2'],
 ['2'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1'],
 ['3.5'],
 ['3.5'],
 ['1'],
 ['1'],
 ['6'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['5.5'],
 ['3'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['3.5'],
 ['2'],
 ['3'],
 ['1'],
 ['1'],
 ['3'],
 ['2'],
 ['2'],
 ['3'],
 ['6'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['2.5'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['3'],
 ['1'],
 ['1'],
 ['2.5'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['2.5'],
 ['1.5'],
 ['1'],
 ['1.5'],
 ['1'],
 ['1'],
 ['4'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1.5'],
 ['1.5'],
 ['1.5'],
 ['1'],
 ['3'],
 ['2'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['2'],
 ['1'],
 ['1'],
 ['2'],
 ['2.5'],
 ['1'],
 ['1'],
 ['4'],
 ['4.5'],
 ['1'],
 ['2'],
 ...]

In [59]:
# convert this list to normal looking list
a_flattened = [val for sublist in a for val in sublist]

a_flattened #looks better

['1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2.5',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '3',
 '1',
 '1',
 '1',
 '1.5',
 '1',
 '4',
 '1',
 '3.5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1.5',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1.5',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '0.5',
 '1',
 '3',
 '1',
 '4',
 '1',
 '2',
 '2',
 '1',
 '1.5',
 '1',
 '1',
 '1',
 '2',
 '3',
 '1',
 '2.5',
 '3',
 '1',
 '2',
 '1',
 '4',
 '1',
 '1',
 '2',
 '2',
 '0.5',
 '1',
 '1',
 '1',
 '2',
 '0.5',
 '1',
 '1',
 '5.5',
 '2',
 '2',
 '1',
 '3',
 '2',
 '3',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '2.5',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2.5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '3',
 '1',
 '5.5',
 '2.5',
 '1',
 '2',
 '2.5',
 '1',
 '1',
 '2',
 '3',
 '1',
 '2.5',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '4',
 '4',
 '1',
 '1',
 '2',
 '1',
 '1.5',
 '4.5',
 '1.5',
 '2',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1.5',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1.5',
 '1',
 '1',
 '1',
 '2.5',
 '4.5',
 '1',
 '1',
 '2',
 '1',
 '1.5',
 '2.5',
 '1.5',
 '2',
 '1',
 '1',
 '1',
 '3',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1.5',
 '1',
 '1',
 '1',
 '1.5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '3',
 '1',
 '1',
 '2.5',
 '1',
 '2',
 '1',
 '1',
 '3',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1.5',
 '2',
 '2',
 '1',
 '4.5',
 '1',
 '1',
 '2',
 '1',
 '1',
 '4',
 '2',
 '2',
 '3',
 '2',
 '1',
 '1',
 '1',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '2',
 '3',
 '2.5',
 '3',
 '1',
 '2',
 '2',
 '1',
 '1.5',
 '2',
 '1',
 '1',
 '1',
 '2',
 '3',
 '2',
 '1',
 '3',
 '2',
 '2.5',
 '3',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '3',
 '1',
 '2',
 '3.5',
 '2.5',
 '1',
 '2',
 '3',
 '2',
 '2',
 '1',
 '2',
 '1',
 '5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2.5',
 '3',
 '1',
 '1',
 '2',
 '1',
 '1',
 '3',
 '3.5',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2.5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1.5',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1.5',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '3.5',
 '2',
 '1',
 '3',
 '1',
 '1',
 '1',
 '2',
 '1.5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1.5',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '5.5',
 '1',
 '2',
 '2',
 '1',
 '2.5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1.5',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '3',
 '2',
 '1',
 '1',
 '1',
 '3',
 '1',
 '1.5',
 '1',
 '2',
 '3.5',
 '2',
 '1',
 '1',
 '1',
 '4.5',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '3',
 '8',
 '3',
 '0',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2.5',
 '1',
 '1.5',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1.5',
 '2',
 '2.5',
 '1',
 '2.5',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1.5',
 '1',
 '1',
 '1',
 '1',
 '2.5',
 '1',
 '2.5',
 '1.5',
 '1',
 '1',
 '2',
 '4',
 '2',
 '1.5',
 '1',
 '2',
 '3',
 '1.5',
 '1',
 '1',
 '3',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 '1',
 '3',
 '2',
 '1',
 '1',
 '1',
 '1.5',
 '1',
 '1',
 '1.5',
 '2',
 '1',
 '1',
 '3',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2.5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1.5',
 '1',
 '1',
 '2',
 '1',
 '2',
 '3',
 '1',
 '1',
 '2',
 '1',
 '1',
 '3',
 '1.5',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2.5',
 '1',
 '1',
 '2',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '2',
 '2.5',
 '2',
 '2',
 '3',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2.5',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '4',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '4',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '3',
 '2.5',
 '2',
 '1',
 '2.5',
 '1',
 '1.5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '4',
 '1',
 '1.5',
 '1',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1.5',
 '1',
 '2',
 '2',
 '2',
 '2',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '3',
 '2',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0.5',
 '2',
 '3',
 '3',
 '2',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2.5',
 '1',
 '2',
 '4.5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '4.5',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2.5',
 '1',
 '2',
 '4',
 '2',
 '1',
 '1.5',
 '2.5',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '3',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2.5',
 '1',
 '4',
 '1',
 '3',
 '1',
 '1',
 '3',
 '1',
 '1',
 '2',
 '3',
 '1',
 '2.5',
 '1',
 '3',
 '1',
 '4',
 '1',
 '1',
 '1',
 '1',
 '3',
 '1',
 '2.5',
 '6.5',
 '1',
 '2',
 '1.5',
 '1',
 '1',
 '1',
 '1',
 '3',
 '1',
 '2',
 '1',
 '2.5',
 '2.5',
 '1',
 '4',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2',
 '1',
 '2',
 '2',
 '0',
 '2',
 '1',
 '1.5',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1.5',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '3',
 '1',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1.5',
 '1',
 '3.5',
 '3.5',
 '1',
 '1',
 '6',
 '2',
 '1',
 '2',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '5.5',
 '3',
 '2',
 '1',
 '1',
 '1',
 '3.5',
 '2',
 '3',
 '1',
 '1',
 '3',
 '2',
 '2',
 '3',
 '6',
 '1',
 '1',
 '2',
 '1',
 '2',
 '2.5',
 '1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '1',
 '2',
 '1',
 '1',
 '3',
 '1',
 '1',
 '2.5',
 '1',
 '1',
 '1',
 '1',
 '2',
 '2.5',
 '1.5',
 '1',
 '1.5',
 '1',
 '1',
 '4',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1.5',
 '1.5',
 '1.5',
 '1',
 '3',
 '2',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '2',
 '2.5',
 '1',
 '1',
 '4',
 '4.5',
 '1',
 '2',
 '1',
 ...]

In [60]:
df.bath = pd.DataFrame(a_flattened) #make it a separate column in initial df

In [61]:
df.bath.head(20) #look how it looks - good

      0
0     1
1     2
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13  2.5
14    2
15    1
16    1
17    1
18    2
19    1

In [62]:
df.shape

(9671, 49)

In [63]:
# drop the column with bathes decoded as text
df.drop(columns = 'bathrooms_text', inplace=True)

In [64]:
df.shape# great, got what is needed

(9671, 48)

Transformation of variables containing multiple variables (host verification and amenities)

In [65]:
# First, define a function for striping info inside the list (getting rid of empty spaces in my case)
def striplist(l):
    return([x.strip() for x in l])

In [66]:
#Now let's replace all not needed symbols and apply defined striplist
df['host_verifications'] = df['host_verifications'].str.replace('[', '').str.replace(']', '').str.replace("'",
                                                                                                                  '').str.lower().str.split(',').apply(striplist)

In [67]:
df['host_verifications'] #what I get in the end is just list of items in each raw

0                                     [email, phone, kba]
1                [email, phone, reviews, kba, work_email]
2                            [email, phone, reviews, kba]
3       [email, phone, reviews, jumio, offline_governm...
4                            [email, phone, reviews, kba]
                              ...
9667    [email, phone, offline_government_id, selfie, ...
9668    [email, phone, google, reviews, jumio, governm...
9669    [email, phone, facebook, reviews, offline_gove...
9670    [email, phone, google, reviews, jumio, offline...
9671               [email, phone, facebook, reviews, kba]
Name: host_verifications, Length: 9671, dtype: object

In [69]:
#Do the same for amenities with small modifications of replacements
df['amenities'] = df['amenities'].str.replace('[', '').str.replace(']',
                                                                           '').str.replace('"', '').str.lower().str.split(',').apply(striplist)

In [70]:
df['amenities'] #good, that is what I wanted

0       [refrigerator, stove, dishes and silverware, b...
1       [shampoo, first aid kit, patio or balcony, kit...
2       [shampoo, dishes and silverware, first aid kit...
3       [shampoo, refrigerator, dishes and silverware,...
4       [shampoo, dishes and silverware, kirkland cond...
                              ...
9667    [shampoo, refrigerator, luggage dropoff allowe...
9668    [shampoo, refrigerator, stove, dishes and silv...
9669    [shampoo, first aid kit, kitchen, hair dryer, ...
9670    [shampoo, refrigerator, stove, cleaning before...
9671                [long term stays allowed, essentials]
Name: amenities, Length: 9671, dtype: object

In [73]:
#Now let's binarize the lists
# first, for amenities
mlb = MultiLabelBinarizer()
amenities_df = pd.DataFrame(mlb.fit_transform(
    df['amenities']), columns=mlb.classes_, index=df.index)

In [74]:
amenities_df #basically it looks like df with binary variables

,,1 travel size bottle conditioner,1 travel size bottle shampoo,100% pure plant extracts body wash by kirkland signature body soap,100% vegan & cruelty-free,120\ hdtv with chromecast,18\ hdtv with amazon prime video,1950\u2019s wedgewood gas stove,1950\u2019s wedgewood oven,2 burner hotplate electric stove,...,wolf stainless steel gas stove,wolf stainless steel induction stove,wolf stainless steel oven,wolf stainless steel stove,wolfe stainless steel gas stove,yamaha - download the controller app sound system with bluetooth and aux,yamaha bluetooth sound system,yamaha sound system with bluetooth and aux,z-line dual-fuel (gas & electric) professional range oven stainless steel gas stove,zest body soap
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9667,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9668,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9669,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9671,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
#second, for host verifications
mlb = MultiLabelBinarizer()
host_verif_df = pd.DataFrame(mlb.fit_transform(
    df['host_verifications']), columns=mlb.classes_, index=df.index)

In [77]:
host_verif_df #also df with binary variables

,email,facebook,google,government_id,identity_manual,jumio,kba,manual_offline,manual_online,none,offline_government_id,phone,reviews,selfie,sent_id,weibo,work_email,yahoo,zhima_selfie
0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0
2,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0
3,1,0,0,1,0,1,1,0,0,0,1,1,1,0,0,0,0,0,0
4,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9667,1,0,0,1,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0
9668,1,0,1,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0
9669,1,1,0,1,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0
9670,1,0,1,1,1,1,0,0,0,0,1,1,1,1,0,0,0,0,0
9671,1,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0

In [79]:
# delete these two columns from initial df
df = df.drop(['host_verifications', 'amenities'], axis=1)

In [80]:
df.shape

(9671, 46)

In [81]:
#Now concan 2 created datasets with initial df
df = pd.concat([df, amenities_df, host_verif_df], axis=1)

In [83]:
cl = df.columns.values

In [86]:
for c in cl: #get colum values of this new df with amenities and host verifications
    print(c)

Unnamed: 0
id
host_id
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_listings_count
host_total_listings_count
host_has_profile_pic
host_identity_verified
neighbourhood_cleansed
latitude
longitude
property_type
room_type
accommodates
bedrooms
beds
price
minimum_nights
maximum_nights
has_availability
availability_30
availability_60
availability_90
availability_365
number_of_reviews
number_of_reviews_ltm
number_of_reviews_l30d
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
instant_bookable
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month
host_since_days
first_review_days
last_review_days

1 travel size bottle conditioner
1 travel size bottle shampoo
100% pure plant extracts body wash by kirkland signature body soap
100% vegan & cruelty-free
120\ hdtv with chromecast
18\ hdtv with amazon prime video
1950\u2019s wedgewood gas stove
1950\u2019s wedgewood oven
2 burner hotplate electric stove
2 burner portable electric  electric stove
2 burner portable stove top induction stove
2 burners do not work gas stove
2 in 1 shampoo and conditioner conditioner
2 in 1 shampoo and conditioner shampoo
2 n 1 shampoo/conditioner conditioner
2 n 1 shampoo/conditioner shampoo
2-5 years old
20\ hdtv
22 -25 cubic inches refrigerator
24\ hdtv with
24\ hdtv with netflix
24\ tv with amazon prime video
24\ tv with roku
25\ tv with netflix
27\ tv with apple tv
2n1 shampoo/conditioner shampoo
2n1 shampoo/condtioner conditioner
30\ tv with standard cable
32\ hdtv
32\ hdtv with amazon prime video
32\ hdtv with chromecast
32\ hdtv with netflix
32\ hdtv with roku
32\ tv
32\ tv with netflix
32\ tv with roku
32\ tv with standard cable
35\ tv with roku
36\ - 5 burner gas stove - cosmo stainless steel gas stove
36\ convenction oven - cosmo stainless steel oven
36\ hdtv with apple tv
36\ hdtv with hbo max
36\ hdtv with netflix
36\ tv with netflix
37\ hdtv with amazon prime video
37\ hdtv with netflix
38\ hdtv with amazon prime video
4 burner gas  stove
4 burner gas stove
4-in-1 uses: hands
40\ hdtv
40\ hdtv with amazon prime video
40\ hdtv with apple tv
40\ hdtv with chromecast
40\ hdtv with hbo max
40\ hdtv with netflix
40\ hdtv with roku
40\ hdtv with standard cable
40\ tv
40\ tv with amazon prime video
42\ hdtv
42\ hdtv with
42\ hdtv with amazon prime video
42\ hdtv with roku
42\ hdtv with standard cable
42\ tv
42\ tv with
42\ tv with apple tv
42\ tv with netflix
42\ tv with roku
43\ hdtv
43\ hdtv with amazon prime video
43\ hdtv with chromecast
43\ hdtv with hbo max
43\ hdtv with netflix
43\ hdtv with roku
43\ hdtv with standard cable
43\ tv with roku
44\ hdtv with roku
45\ hdtv with amazon prime video
45\ hdtv with chromecast
45\ tv with apple tv
46\ hdtv with
46\ hdtv with amazon prime video
46\ hdtv with standard cable
46\ tv with apple tv
47\ hdtv
47\ hdtv with amazon prime video
47\ hdtv with chromecast
47\ hdtv with netflix
47\ hdtv with premium cable
47\ hdtv with roku
47\ hdtv with standard cable
48\ hdtv with
48\ hdtv with amazon prime video
48\ hdtv with hbo max
48\ hdtv with roku
48\ tv
48\ tv with roku
49\ hdtv with standard cable
49\ tv
5 in 1 moisture
5-10 years old
5.1 dolby surround sound system sound system
50\ hdtv
50\ hdtv with amazon prime video
50\ hdtv with chromecast
50\ hdtv with hbo max
50\ hdtv with netflix
50\ hdtv with roku
50\ hdtv with standard cable
50\ tv
50\ tv with netflix
50\ tv with roku
52\ hdtv with hbo max
53\ hdtv
54\ tv
55\ hdtv
55\ hdtv with amazon prime video
55\ hdtv with apple tv
55\ hdtv with chromecast
55\ hdtv with hbo max
55\ hdtv with netflix
55\ hdtv with premium cable
55\ hdtv with roku
55\ hdtv with standard cable
55\ tv
55\ tv with netflix
55\ tv with roku
56\ hdtv with amazon prime video
56\ hdtv with standard cable
58\ hdtv
58\ hdtv with standard cable
6-burner ge monogram stovetop stainless steel electric stove
60\ hdtv
60\ hdtv with amazon prime video
60\ hdtv with chromecast
60\ hdtv with netflix
60\ hdtv with roku
60\ hdtv with standard cable
60\ tv with apple tv
60\ tv with standard cable
65\ hdtv
65\ hdtv with
65\ hdtv with amazon prime video
65\ hdtv with hbo max
65\ hdtv with netflix
65\ hdtv with premium cable
65\ hdtv with roku
65\ hdtv with standard cable
65\ tv
70\ hdtv
70\ hdtv with amazon prime video
70\ hdtv with netflix
70\ hdtv with premium cable
75\ hdtv with amazon prime video
75\ hdtv with apple tv
75\ hdtv with netflix
75\ hdtv with premium cable
75\ hdtv with roku
75\ hdtv with standard cable
75\ tv
80\ hdtv
80\ hdtv with amazon prime video
82\ hdtv with amazon prime video
86\ hdtv with netflix
a nice brand body soap
a nice brand conditioner
a variety conditioner
a variety of soaps body soap
above average brands  shampoo
above average brands body soap
above average brands conditioner
adora oven
aelxa sound system
air conditioning
air fry toaster oven stainless steel oven
air fryer / microwave/ oven  stainless steel oven
air fryer oven stainless steel oven
airplay speakers sound system
alexa bluetooth sound system
alexa sound system
alexa sound system with bluetooth and aux
alexa with bluetooth  receiver and in wall speakers. sound system with bluetooth and aux
alfresco shower
all appliances are top of the line refrigerator
aloe vera body soap
aloe vera conditioner
amana refrigerator
amana stainless steel oven
amazon alexa  sound system
amazon alexa echo show 8 bluetooth sound system
amazon echo bluetooth sound system
amazon echo sound system
amazon music on speakers throughout house sound system with bluetooth and aux
amazon prime video
american crew
and 10+ years old
and 5-10 years old
and closet
and desk
and dove men + care body soap
and dresser
and monitor
and office chair
and table
and walk-in closet
and wardrobe
apartment size gas stove
apartment size oven
apple homepod bluetooth sound system
apple mini pod sound system with bluetooth and aux
apple tv
arbico organics  body soap
arbico organics  conditioner
arbico organics body soap
arbico organics shampoo
assorted brands body soap
atelier bloom body soap
atelier bloom conditioner
atlier bloom - kimpton brand  shampoo
atlier bloom - kimpton brand body soap
atlier bloom - kimpton brand conditioner
aussie conditioner
aussie shampoo
avalon organics  shampoo
avalon organics conditioner
aveda body soap
aveda conditioner
aveda or pantene conditioner
aveda shampoo
aveeno body soap
aveeno conditioner
aveeno shampoo
aveno body soap
baby bath
baby monitor
baby safety gates
babysitter recommendations
backyard
baking sheet
balcony
bar or liquid body soap
barbecue utensils
basic  body soap
bath & body works body soap
bath gel body soap
bathroom essentials
bathtub
bbq grill
beach
beach essentials
beachfront
beautiful vintage stove an oven in perfect working condition.  oven
bed head and herbal essence conditioner
bed linens
bed sheets and pillows
bedhead and pantene conditioner
bedhead and pantene shampoo
bedroom comforts
bee kind body soap
bee kind conditioner
bee kind shampoo
beekman luxury brand shampoo
best conditioner for smooth
bidet
big ref is also available downstairs  refrigerator
bikes
bloomberg refrigerator
bluestar oven
bluetooth sound system
board games
body
body soap
body soap and gel in all bathrooms body soap
body wash body soap
body wash in each shower body soap
bodysoap body soap
bodywash body soap
bonanital shampoo
bosch -gas range
bosch refrigerator
bosch stainless steel gas stove
bosch stainless steel oven
bosch with filtered water & ice maker refrigerator
bose  bluetooth sound system
bose and samsung bluetooth sound system
bose and sonos sound system with bluetooth and aux
bose bluetooth sound system
bose mini sound link bluetooth sound system
bose portable speaker sound system with bluetooth and aux
bose sound system
bose sound system with bluetooth and aux
bosh  stove
bosh refrigerator
boss  sound system
botanical body soap
botanical conditioner
bowers & wilkins sound system
boze sound system with bluetooth and aux
brand oven
brand refrigerator
brand stove
braun stainless steel oven
braun stainless steel stove
brava stainless steel oven
bread maker
breakfast
breakfast bar
bronner's body soap
bugani bluetooth  bluetooth sound system
building staff
cable tv
camay body soap
carbon monoxide alarm
caress body soap
carrier conditioner
ceiling fan
ceiling fans
central air conditioning
central heating
cetaphil body soap
changes body soap
changing table
chef's kitchen
chefs kitchen stainless steel gas stove
children\u2019s books and toys
children\u2019s books and toys for ages 0-2 years old
children\u2019s books and toys for ages 0-2 years old and 2-5 years old
children\u2019s books and toys for ages 10+ years old
children\u2019s books and toys for ages 2-5 years old
children\u2019s books and toys for ages 2-5 years old and 10+ years old
children\u2019s books and toys for ages 2-5 years old and 5-10 years old
children\u2019s books and toys for ages 5-10 years old
children\u2019s books and toys for ages 5-10 years old and 10+ years old
children\u2019s dinnerware
chromecast
citrus conditioner
citrus shampoo
classe sound system with bluetooth and aux
cleaning before checkout
cleaning products
cleanses
closet
clothing storage
clothing storage: closet
clothing storage: closet and dresser
clothing storage: closet and walk-in closet
clothing storage: closet and wardrobe
clothing storage: dresser
clothing storage: dresser and closet
clothing storage: dresser and walk-in closet
clothing storage: dresser and wardrobe
clothing storage: walk-in closet
clothing storage: walk-in closet and closet
clothing storage: walk-in closet and dresser
clothing storage: walk-in closet and wardrobe
clothing storage: wardrobe
clothing storage: wardrobe and closet
clothing storage: wardrobe and dresser
clothing storage: wardrobe and walk-in closet
coco mango
coconut body soap
coconut mango scent shampoo
coffee maker
common ref - 2nd ref as back up in garage for small food items. refrigerator
complimentary continental breakfast
complimentary self parking
concierge
conditioner
conditioner in each shower conditioner
connection through tv stereo system bluetooth sound system
convection oven  electric stove
cooking basics
cooktop induction stove
costco
costco  body soap
costco body soap
costco citrus body wash body soap
costco conditioner
costco shampoo
countertop oven
crib
crosley gas stove
cruelty free shampoo
cuisinart large capacity toaster oven/ air fryer oven
cuisinart stainless steel oven
dacor gas stove
dacor stainless steel electric stove
dacor stainless steel gas stove
dacor stainless steel oven
dacor stainless steel stove
danby 3.5 cu ft refrigerator
dcs professional range - oven stainless steel gas stove
dcs professional range - oven stainless steel oven
dedicated food shelf refrigerator
dedicated workspace
dedicated workspace: desk
dedicated workspace: desk and monitor
dedicated workspace: desk and office chair
dedicated workspace: desk and table
dedicated workspace: monitor
dedicated workspace: monitor and desk
dedicated workspace: monitor and table
dedicated workspace: office chair
dedicated workspace: office chair and desk
dedicated workspace: office chair and table
dedicated workspace: table
dedicated workspace: table and desk
dedicated workspace: table and office chair
delon conditioner
delon shampoo
denon sound system with bluetooth and aux
designated food shelf refrigerator
desk
dial body soap
different  conditioner
different brands body soap
different brands conditioner
different brands shampoo
dining area
dining area for 10 people
dining area for 4 people
dining area for 8 people
dining table
dishes and silverware
dishwasher
dispenser in shower conditioner
dispenser in shower shampoo
double burner hot plate and griddle  electric stove
double oven stainless steel oven
dove
dove  - liquid soap (moisture and/or sensitive skin) body soap
dove  body soap
dove & dr. bronners body soap
dove and dial body soap
dove and others body soap
dove body soap
dove conditioner
dove or kirkland body soap
dove shampoo
dove shea butter and warm vanilla  body soap
dove. conditioner
dr. bronner's  body soap
dr. bronner\u2019s - organic sugar soap (peppermint) - made with organic oils
dr. bronners body soap
dr. bronners shampoo
dr. teals body soap
dresser
driveway parking
dryer
dryer \u2013 in building
dryer \u2013\u00a0in unit
drying rack for clothing
dual fuel z-line professional range oven with convection. stainless steel oven
due to covid guests often bring their own personal items like shampoos and conditioner.  we certainly want to keep you safe! shampoo
during covid
dvd player
dynasty refrigerator
eating out is good stainless steel oven
echo show 8 amazon alexa bluetooth sound system
echo studio bluetooth sound system
eco amenities  body soap
eco amenities  conditioner
eco amenities body soap
eco amenities conditioner
eco body soap
eco botanics hotel soaps and toiletries body soap
eco botanics hotel soaps and toiletries conditioner
eco botanics hotel soaps and toiletries shampoo
eco conditioner
eco friendly soap body soap
electric  oven
electric electric stove
electric oven
electric oven  stainless steel oven
electric stove
elevator
elseve conditioner
elseve shampoo
empava induction stove
entertainment system
espresso machine
essentials
ethernet connection
ev charger
every day coconut  conditioner
every day coconut shampoo
every man jack  conditioner
every man jack shampoo
everybody soap  body soap
everybody/organic body soap
extra pillows and blankets
face and hair
fenced garden or backyard
fire extinguisher
fire pit
fireplace guards
first aid kit
foosball table
formal dining area
free carport on premises
free carport on premises \u2013 1 space
free carport on premises \u2013 2 spaces
free driveway parking on premises
free driveway parking on premises \u2013 1 space
free driveway parking on premises \u2013 2 spaces
free driveway parking on premises \u2013 3 spaces
free driveway parking on premises \u2013 4 spaces
free driveway parking on premises \u2013 5 spaces
free driveway parking on premises \u2013 6 spaces
free dryer
free dryer \u2013 in building
free dryer \u2013 in unit
free parking garage on premises
free parking garage on premises \u2013 1 space
free parking garage on premises \u2013 2 spaces
free parking garage on premises \u2013 3 spaces
free parking garage on premises \u2013 4 spaces
free parking garage on premises \u2013 8 spaces
free parking on premises
free parking on premises \u2013 1 space
free parking on premises \u2013 2 spaces
free parking on premises \u2013 3 spaces
free parking on premises \u2013 4 spaces
free residential garage on premises
free residential garage on premises \u2013 1 space
free residential garage on premises \u2013 2 spaces
free residential garage on premises \u2013 3 spaces
free residential garage on premises \u2013 4 spaces
free street parking
free washer
free washer \u2013 in building
free washer \u2013 in unit
free wifi
freezer
french door. water and ice on the door refrigerator
french doors
fridgaire stainless steel oven
fridgidaire electric stove
fridgidaire refrigerator
fridgidaire stainless steel gas stove
fridgidaire stainless steel oven
frididaire oven
frigidair stainless steel electric stove
frigidair stainless steel oven
frigidaire
frigidaire  refrigerator
frigidaire gas stove
frigidaire glass top stainless steel electric stove
frigidaire oven
frigidaire refrigerator
frigidaire stainless steel electric stove
frigidaire stainless steel gas stove
frigidaire stainless steel induction stove
frigidaire stainless steel oven
fructis  conditioner
fructis shampoo
full kitchen
full size  refrigerator
full size refrigerator
full-size refrigerator
fusion bluetooth sound system
g stove
g.e. mini fridge/ freezer refrigerator
gagenau cook top stainless steel gas stove
galanz  refrigerator
game console
game console: nintendo switch
game console: nintendo switch and ps5
game console: nintendo wii
game console: ps3
game console: ps3 and ps4
game console: ps4
game console: ps4 and xbox one
game console: ps5
game console: xbox 360
game console: xbox one
garage parking
garden
garden or backyard
garnier fructis  conditioner
garnier fructis  shampoo
garnier fructis conditioner
garnier fructis or dove  shampoo
garnier fructis shampoo
garnier fructis/herbal essences conditioner
gas  crosley  oven
gas fireplace
gas oven
gas oven  oven
gas oven and broiler  stainless steel oven
gas stainless steel oven
gas stove
gas stove and oven  oven
gated property
gazebo
ge
ge cafe double oven 2020 ctd70dp2ns1 stainless steel oven
ge double oven stainless steel oven
ge gas stove
ge monogram refrigerator
ge monogram stainless steel gas stove
ge monogram stainless steel oven
ge monogram stainless steel stove
ge oven
ge range and double oven stainless steel electric stove
ge refrigerator
ge stainless steel electric stove
ge stainless steel gas stove
ge stainless steel oven
ge stainless steel stove
ge stove
ge with water dispenser and ice maker
general  body soap
general conditioner
general electric \u26a1\ufe0f  refrigerator
general electric \u26a1\ufe0f  stainless steel gas stove
general electric \u26a1\ufe0f  stainless steel oven
general electric oven
general shampoo
generic  body soap
generic  shampoo
generic body soap
generic conditioner
generic shampoo
generic sound system with bluetooth and aux
generic stainless steel gas stove
ginger lilly farms body soap
ginger lily farms  body soap
ginger lily farms  conditioner
ginger lily farms  shampoo
ginger lily farms aloe vera body soap
ginger lily farms body soap
ginger lily farms botanicals coco mango nourishing body wash body soap
ginger lily farms botanicals moisturizing shampoo for all hair types
ginger lily farms botanicals nourishing body wash
ginger lily farms citrus conditioner
ginger lily farms citrus shampoo
ginger lily farms club & fitness
ginger lily farms club & fitness moisturizing conditioner
ginger lily farms club fitness
ginger lily farms conditioner
ginger lily farms shampoo
giovanni tea tree
good conditioner in all bathrooms conditioner
good hub small speaker sound system
good oven oven
good shampoo and conditioner in all bathrooms shampoo
google speaker sound system with aux
granier fructis or dove conditioner
green tea & lemongrass scent body soap
gym
gym in building
haier refrigerator
hair dryer
hangers
harmon-kardon portable speaker bluetooth sound system
harry\u2019s  body soap
hbo max
hdtv
hdtv with
hdtv with amazon prime video
hdtv with apple tv
hdtv with chromecast
hdtv with hbo max
hdtv with netflix
hdtv with premium cable
hdtv with roku
hdtv with standard cable
head and shoulders  shampoo
head and shoulders shampoo
head n shoulder conditioner
heated pool
heated pool \u2014 outdoor
heating
herbal essence  conditioner
herbal essence conditioner
herbal essences conditioner
herbal essences shampoo
high chair
home size with freezer refrigerator
honest body soap
honest company body soap
honest company conditioner
host greets you
hot point  refrigerator
hot tub
hot water
hot water kettle
hotel bar soaps body soap
hotel body soap
hotel shampoo
hotel size dial bars body soap
hotel starter kit - travel size body soap
house bikes
house body soap
house conditioner
house shampoo
humetrix conditioner
ice cooler
ice machine
ice maker refrigerator
ikea refrigerator
in tv sound system
individually wrapped personal body soap bars body soap
indoor fireplace
induction stove
insignia  refrigerator
internet
irish spring bar soap body soap
irish spring.  location medicine cabinet body soap
irish springs body soap
iron
ironing board
island tranquility
it varies  body soap
italian gas stove
ivory and dove body soap
ivory body soap
ivory or dove body soap
jbl extreme bluetooth sound system
jenn-air oven
jenn-air refrigerator
jenn-aire stainless steel oven
joico conditioner
kayak
kenmore  gas stove